<form [formGroup]="form" (ngSubmit)="OnSubmit()">

  <div class="form-group">
    <label for="UserName">Username</label>
    <input type="text" formControlName="UserName" class="form-control" placeholder="Enter Username" />
    <div class="text-danger">
      <span *ngIf="form.get('UserName').hasError('minlength')">Username must be at least 3 characters.</span>
      <span *ngIf="form.get('UserName').hasError('maxlength')">Username cannot be more than 8 characters.</span>
    </div>

  </div>

  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" formControlName="Password" placeholder="Enter Password" class="form-control" />
    <div class="text-danger">
      <span *ngIf="form.get('Password').hasError('minlength')">Password must be at least 3 charectors</span>
      <span *ngIf="form.get('Password').hasError('maxlength')">Password must be less than 8 charectors</span>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Log In</button>

</form>