

<app-navbar></app-navbar>





<div class="container">
    <button class="btn btn-success" (click)="OpenModal()" >New Time Entry</button>
    <div>
        <app-time-entry-list></app-time-entry-list>
    </div>
        
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Add a new Time Entry</h3>
          <button type="button" class="close" (click)="CloseModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-time-entry-add></app-time-entry-add>
        </div>
      </div>
    </div>
  </div>
  
