
<h2>Time Entries</h2>

<p>Choose Date to view Entries : </p>

    <input type="date" [(ngModel)]="selectedDate" (change)="GetSelectedDate()" #dateChooser/>



<h5>Time Entries for the Date : <span>{{this.selectedDateInString}}</span></h5>
<table class="table"> 

<thead>
    <th>Project Name</th>
    <th>Activity Name</th>
    <th>Time Spend</th>

</thead>

<tbody>
    <tr *ngFor="let data of service.listOfTimeEnties">
        <td>{{data.ProjectName}}</td>
        <td>{{data.ActivityName}}</td>
        <td>{{data.TimeSpend}}</td>
        <td><button class="btn btn-outline-primary" (click)="EditATimeEntry(data)" >Edit</button></td>
        <td><button class="btn btn-outline-danger" (click)="DeleteTimeEntry(data.TimeEntryId)">Delete</button></td>
    </tr>
</tbody>

<tbody>

</tbody>

</table>


  <!-- Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Update Time Entry </h3>
          <button type="button" class="close" (click)="CloseModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-time-entry-update></app-time-entry-update>
        </div>
      </div>
    </div>
  </div>