
<form [formGroup]="form" (ngSubmit)="UpdateTimeEntry()" >

    <label>Project Name</label>
    <select class="form-control" formControlName="ProjectId" (change)="FillActivitiesDropdown()" [(ngModel)]="service.selectedTimeEntry.ProjectId" >
      <option value="">--Select Project--</option>
      <option *ngFor="let data of service.listOfProjects" [value]="data.Id">{{ data.Name }}</option>
    </select>
  
    <label>Activity</label>
    <select class="form-control" formControlName="ActivityId" [(ngModel)]="service.selectedTimeEntry.ActivityId" >
      <option value="">--Select Activity--</option>
      <option *ngFor="let data of service.listOfActivities" [value]="data.Id">{{ data.Name }}</option>
    </select>
  
    <div>
        <label>Time Spend</label>
        <input type="number" class="form-control" placeholder="Enter Time in Hours" formControlName="TimeSpend" (keyup)="CheckTimeLimit()"
        [(ngModel)]="service.selectedTimeEntry.TimeSpend" />
        <span class="text-danger">{{errorTimeLimit}}</span>
      </div>


      <div>
        <label>Description of time entry</label>
        <textarea placeholder="Enter details of time entries" formControlName="Description" class="form-control" [(ngModel)]="service.selectedTimeEntry.Description" ></textarea>
        <div class="text-danger">
          <span *ngIf="form.get('Description').hasError('minlength')" >Minimum 4 Charectors required.</span>
          <span *ngIf="form.get('Description').hasError('maxlength')">Maximum 200 Charectors Only</span>
        </div>
      </div>

    <hr>
    <button class="btn btn-outline-secondary" [disabled]="form.invalid || isFormDisabled" style="width: 100%;" >Save</button>

</form>